.user-controls, .session-users-profile, .other-users-profile, .mission-dashboard-note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-dashboard-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--wa-green);
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0;
}


.update-location-disclaimer, .private-mission  {
    margin-block-start: 0;
    margin-block-end: 0;
}

.update-location-div {
    display: flex;
    flex-wrap: wrap;
}

.user-profile-pic {
    background: var(--wa-blue);
    width:100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 5px;
}
