/* BRAND */
body {
    margin: 0px;
}

:root {
    --wa-green: #98e8cf;
    --wa-blue: #99b5f3;
    --wa-gold: #ffc400;
    --wa-charcoal: #4d4d4d;
    --wa-gray: #e6e6e6;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

/*
    font-weight: 200;     light (use sparingly)
    font-weight: 400;     regular for text
    font-weight: 700;     bold for emphasis
    font-weight: 900;     black (use sparingly)
*/

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 50px;
}

.gradient-box {
    background-color: var(--wa-blue);  /* browsers with no gradients */
    background-image: linear-gradient(to bottom left, var(--wa-blue), var(--wa-green));
}

a {
    color: var(--wa-blue);
    text-decoration: none;
}

@media all and (max-width: 550px) {
    h1 {
        font-size: 18px;
    }
}

/* BUTTONS */

.tertiary-button, button {
    color: var(--wa-blue);
    background-color: transparent;
    border: 1px solid var(--wa-blue);
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button, .secondary-button {
    border-radius: 20px;
    line-height: 30px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
}

.primary-button {
    background-color: var(--wa-gold);
    border: 2px solid var(--wa-gold);
}

.secondary-button {
    background-color: transparent;
    border: 2px solid white;
}

.primary-button:hover {
    background-color: var(--wa-gold);
    box-shadow: 0px 0px 0px 1px var(--wa-gold);
}

.secondary-button:hover {
    box-shadow: 0px 0px 0px 1px white;
}


@media all and (max-width: 600px) {
    .primary-button {
        font-size: 14px;
        margin: 0;
        padding: 3px 7px;
    }

    .secondary-button {
        font-size: 14px;
        padding: 3px 7px;
    }
}


/* FORMS */

.modal-wrapper-div {
    min-width: 350px;
    max-width: 350px;
    border: 2px solid white;
    background-color: var(--wa-blue); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-blue), var(--wa-green));
    border-radius: 10px;
  }

.form-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}

.form-instructions {
    color: white;
}

.form-errors {
    margin: 5px 0 15px;
    font-weight: 700;
    font-size: 18px;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    padding: 5px 10px;
}

.form-submit{
    margin: 15px;
}

.demo-user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px 40px;
}

.demo-user-prompt {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.submit-comment-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    border: 2px solid white;
    background-color: var(--wa-blue); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-blue), var(--wa-green));
    border-radius: 10px;
}

.submit-comment-form > button {
    width: 15vw;
}

.edit-comment-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-comment-div > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
}

.homepage-button {
    color: white;
}
