/* TODO Add site wide styles */
.grid-placeholder {
    width: 800px;
}

.homepage-howto-div {
    display: flex;
}

.homepage-missions-box, .homepage-share-box, .homepage-posts-box {
  width: 200px;
  height: 200px;
  background-color: pink;
  margin: 10px;
}
