/* HEADER */

nav {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100px;
    background-color: var(--wa-blue);  /* browsers with no gradients */
    background-image: linear-gradient(to bottom left, var(--wa-blue), var(--wa-green));
}

.logo-nav-link {
    grid-column-start: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

.navbar-logo {
    width: 50px;
}

.right-nav-links {
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.login-nav > .login-button {
    margin-right: 40px;
}

.page-nav-link {
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 30px;
    width: 100px;
}

.page-nav-link:hover {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.page-navlink-text {
    color: white;
}


/* FOOTER */

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px var(--wa-blue);  /* browsers with no gradients */
    margin: 40px 0 0;
    padding: 20px 50px;
}

.footer-copyright {
    font-weight: 200;
    font-size: 14px;
}

.footer-links {
    font-weight: 200;
    font-size: 18px;
    margin-block-end: 0;
}

.footer-link {
    font-weight: 700;
    font-size: 18px;
}

@media all and (max-width: 600px) {
    .login-nav > .login-button {
        margin-right: 5px;
    }

    .right-nav-links {
        margin-right: 5px;
    }

    .logo-nav-link {
        margin-left: 5px;
    }

    .page-nav-link {
        margin-right: 5px;
    }
}
