.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.homepage-hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

.homepage-howto-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.photo-grid-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
