.missionForm {
    display: flex;
    flex-direction: column;
}

.missionForm > input {
    margin-bottom: 1vh;
}

.missionLabels {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5vh;
    font-weight: bold;
}