.missionInfo {
  display: flex;
  flex-direction: column;
}

.updateLocation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vw;
}

.userMissionContainer {
  display: flex;
  flex-direction: row;
}

.userMissionText {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}