.missionInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.updateLocation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vw;
}

.userMissionContainer {
  display: flex;
  flex-direction: row;
}